.attendance{
    height: 80vh;
    width: 100vw;
    background-color: rgb(234, 234, 234);
    text-align: center;
    padding: 3%;
}


.date-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 1em;
}

.attendance_date{
    font-size: 1.8em;
    margin: 2em;
}

.date-form{
    font-size: large;
    line-height: normal;
}

.attendance__table{
    width: 100%;
    height: 70%;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
}

.attendance__row{
    border-top: 1px solid;
}

nav{
    padding-left: 40vw;
    padding-top: 1vh;
    font-size: large;
}

.button{
    color: aliceblue;
}
