.header {
    height: 11vh;
    align-content: center;
}

.header__inner {
    margin: 0 auto;
    width: 92%;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7rem;
}

.nav{
    display: flex;
    width: 27%;
}

.header-utilities nav {
    width: 33%;
    padding-top: 1%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1%;
}

.header-nav__item{
    font-size: large;
    margin-left: -15%;
    font-weight: bold;
}

.header-nav__link {
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
}

.header-nav__link2{
    color: #000000;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.message{
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    align-items: center;
    height: 70px;
    padding-top: 1em;
}

.footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    align-items: center;
    background-color: #ffffff;
}
