.index {
    height: 80vh;
    width: 100vw;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.index-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

.index-message{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
}

.user-message {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bolder;
    color: #ffffff;
}

.index__content {
    width: 50%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    background: linear-gradient(135deg, #cbcbcb, #a9a9a9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.index__panel {
    display: flex;
    justify-content: space-between;
    width: 100%;

    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    margin: 5% 0;
}

.index__button {
    width: 48%;
}

.index__button-submit {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: #fff;
    background: linear-gradient(145deg, #a5a5a5, #6c6c6c);
    cursor: pointer;
    transition: all 0.3s ease;
}

.index__button-submit:hover {
    background: linear-gradient(145deg, #5c5c5c, #ffd8d8);
    transform: scale(1.05);
}

.index__button-submit:disabled {
    background: linear-gradient(145deg, #d8d8d8, #b7b7b7);
    cursor: not-allowed;
}

.index__alert {
    width: 100%;
    margin-top: 20px;
    text-align: center;

}

.index__alert--success {
    display: inline-block;
    padding: 10px 20px;
    background: #5cb85c;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}
